
    blockquote, body, button, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, hr, html, input, li, ol, p, td, textarea, th, ul {
      margin: 0;
      padding: 0
    }

    h1, h2, h3, h4, h5, h6 {
      font-size: 100%;
      font-weight: 400
    }

    li, ol, ul {
      list-style: none
    }

    sup {
      vertical-align: inherit
    }

    sub {
      vertical-align: inherit
    }

    address, article, aside, canvas, dialog, fieldset, figure, footer, header, mark, nav, section, time, video {
      display: block;
      margin: 0;
      padding: 0
    }

    fieldset, img {
      display: block;
      border: 0;
      width: 100%
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0
    }

    a {
      text-decoration: none;
      color: #333
    }

      a, a:active, button, button:active, div, input, label, span {
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent
      }

    button {
      background: 0 0;
      border: none
    }

    body, input, textarea {
      font-family: "PingFang SC","Hiragino Sans GB",tahoma,arial
    }

    body, html {
      font-size: 16px;
      line-height: 1.6;
      color: #333;
      box-sizing: border-box;
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      height: 100%
    }

    em {
      font-style: normal;
    }

    .no-scroll, .no-scroll body {
      height: 100%;
      overflow: hidden
    }

    a, button, input, select, textarea {
      outline: 0
    }

      input[type=button] {
        -webkit-appearance: none;
        outline: none
      }

      input[type=text], input[type=password], input[type=number], select, textarea {
        line-height: normal;
        color: #333;
        background: 0 0;
        resize: none;
        border: 0;
        -webkit-appearance: none;
        border-radius: 0
      }

      input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
        -webkit-appearance: none
      }

      input[type=number] {
        -moz-appearance: textfield
      }

      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        line-height: normal
      }

    .wp {
      font-size: 16px;
      text-align: center;
      color: #fff;
      background-image: -webkit-linear-gradient(-45deg,#f3a372,#f24e55);
      min-height: 100%
    }

      .wp .main {
        margin: 0 auto;
        padding-bottom: 40px;
        box-sizing: border-box;
        width: 1200px
      }

    @media only screen and (max-width:1068px) {
      .wp .main {
        padding: 0 20px 40px;
        width: 100%
      }
    }

    @media only screen and (max-width:735px) {
      .wp {
        font-size: 14px
      }
    }

    .ft {
      margin: 0 auto;
      padding: 20px 0 30px;
      box-sizing: border-box;
      max-width: 1200px;
      line-height: 2
    }

      .ft .ftlink {
        margin-top: 15px
      }

        .ft .ftlink a {
          padding: 0 15px;
          color: #fff
        }

          .ft .ftlink a:hover {
            text-decoration: underline
          }

    @media only screen and (max-width:735px) {
      .ft {
        font-size: 14px;
        line-height: 20px
      }

        .ft .ftlink {
          margin-top: 10px
        }
    }

    .top {
      padding-top: 5%
    }

      .top h1 {
        position: relative;
        font-size: 42px;
        letter-spacing: 2px;
        z-index: 2
      }

      .top .logobox {
        position: relative;
        margin: 0 auto;
        width: 140px;
        height: 140px;
        background-color: #fff;
        border-radius: 26px;
        border: 5px solid #fff
      }

        .top .logobox::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 290px;
          height: 290px;
          content: "";
          background: url("../fonts/ed7bbae3e76a4a74bd089f3f6d623e6c.woff") no-repeat left top/cover
        }

        .top .logobox img {
          position: relative;
          border-radius: 16px;
          z-index: 2
        }

    @media only screen and (max-width:735px) {
      .top {
        padding-top: 8%
      }

        .top h1 {
          font-size: 28px
        }

        .top .logobox {
          width: 93px;
          height: 93px;
          border-radius: 20px;
          border: 3px solid #fff
        }

          .top .logobox::after {
            width: 190px;
            height: 190px
          }

          .top .logobox img {
            border-radius: 16px
          }
    }

    .btnbox {
      margin-top: 5%
    }

      .btnbox p a {
        font-size: 18px;
        color: #fff
      }

        .btnbox p a:hover {
          text-decoration: underline
        }

      .btnbox .btn {
        display: block;
        margin: 15px auto;
        width: 280px;
        height: 60px;
        line-height: 60px;
        font-size: 26px;
        color: #f24e55;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 6px 16px #f24e55;
        cursor: pointer
      }

        .btnbox .btn:active {
          -webkit-transform: scale(.96);
          transform: scale(.96)
        }

    @media only screen and (max-width:735px) {
      .btnbox {
        margin-top: 8%
      }

        .btnbox p a {
          font-size: 16px
        }

        .btnbox .btn {
          width: 220px;
          height: 50px;
          line-height: 50px;
          font-size: 22px;
          border-radius: 8px;
          box-shadow: 0 6px 14px #f24e55
        }
    }

    .qrcodebox {
      margin-top: 6%
    }

      .qrcodebox .qrcode {
        font-size: 20px
      }

        .qrcodebox .qrcode img {
          margin: 0 auto 10px;
          width: 200px
        }

    @media only screen and (max-width:735px) {
      .qrcodebox {
        margin-top: 12%
      }

        .qrcodebox .qrcode {
          font-size: 16px
        }

          .qrcodebox .qrcode img {
            margin: 0 auto 10px;
            width: 140px
          }
    }

    .i-loading {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      background: url(../images/loading.png) no-repeat center;
      background-size: 100%;
      -webkit-animation: loading 1s linear both infinite;
      animation: loading 1s linear both infinite
    }

    .i-loading-white {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      background: url(../images/loading_white.png) no-repeat center;
      background-size: 100%;
      -webkit-animation: loading 1s linear both infinite;
      animation: loading 1s linear both infinite
    }

    .loadingbox {
      margin: 10px auto;
      width: 280px;
      height: 60px;
      line-height: 60px
    }

    @-webkit-keyframes loading {
      0% {
        -webkit-transform: rotate(0)
      }

      100% {
        -webkit-transform: rotate(360deg)
      }
    }

    @keyframes loading {
      0% {
        transform: rotate(0)
      }

      100% {
        transform: rotate(360deg)
      }
    }

    .msgbox {
      margin: 10px auto;
      width: 280px;
      height: 60px;
      line-height: 60px;
      font-size: 22px;
      color: #ff0;
      text-shadow: 1px 1px 0 rgba(0,0,0,.5) 0
    }

    .homebox {
      padding: 15px 0
    }

      .homebox p {
        font-size: 18px;
        color: #ff0;
        text-shadow: 1px 1px 0 rgba(0,0,0,.5)
      }

      .homebox .btn {
        margin: 5px auto;
        font-size: 20px
      }

    .errbox {
      padding-top: 50px;
      text-align: center;
      font-size: 20px;
      color: #000;
      text-shadow: 1px 1px 0 #db3b42
    }

      .errbox .i-err {
        display: block;
        margin: 0 auto 20px;
        width: 125px;
        height: 125px;
        background: url(../images/pity.png) no-repeat center;
        background-size: 100%
      }

    @media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
      .top {
        padding-top: 16%
      }
    }

    html, body {
      height: 100%;
    }

    #tips {
      display: none;
      position: relative;
      height: 100%;
      background: #fff;
    }

    .bg-img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .content-box {
      position: relative;
      margin: 0 auto;
      padding-top: 2em;
      width: 96%;
      height: 96%;
    }

    #ios-tip em {
      display: block;
      padding: 1em 0;      
      color: #fff;
      font-style: normal;
      text-align: center;
    }

    #ios-tip .copy-box {
      width: 100%;
      color: #f00;
      padding: 1.4em 0;
      text-align: center;
      border: dashed 1px #ea3b4c;
      background-color: #fff;
      -webkit-user-select: text;
      box-sizing: border-box;
    }

    #ios-tip .copy {
      width: 100%;
      border: none 0;
      background-color: #bd2809;
      color: #fff;
      height:46px;
      line-height:46px;
      font-size: 16px;
      vertical-align: middle;
      outline: 0;
      border-radius: 0;
    }

      #ios-tip .copy.success {
        background-color: #32cd32;
      }

      #ios-tip .copy.fail {
        background-color: #aaa;
      }

    #qrcode{
      width:15em;
      margin:2em 0 .2em;
      display:inline;
    }
